.u-section-1 {background-position: 50% 50%; background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/2591866984896.jpg"); margin-top: 0; margin-bottom: 0}
.u-section-1 .u-sheet-1 {min-height: 800px}
.u-section-1 .u-text-1 {margin: 60px auto 0 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 660px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 506px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 380px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 239px}
.u-section-1 .u-text-1 {margin-top: 62px; margin-right: -8px; margin-bottom: 60px; width: auto; font-size: 3rem; font-weight: 700} }.u-section-2 {background-image: none; margin-top: 0; margin-bottom: 0}
.u-section-2 .u-sheet-1 {min-height: 419px}
.u-section-2 .u-layout-wrap-1 {margin: 68px auto 68px 0}
.u-section-2 .u-layout-cell-1 {min-height: 283px}
.u-section-2 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-text-1 {margin-left: 0; margin-right: 0; margin-bottom: 0}
.u-section-2 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-2 .u-layout-cell-2 {min-height: 283px}
.u-section-2 .u-container-layout-2 {padding-left: 20px}
.u-section-2 .u-btn-1 {margin: 20px auto 30px 0} 

@media (max-width: 1199px){ .u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-text-1 {position: relative}
.u-section-2 .u-text-2 {position: relative}
.u-section-2 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-btn-1 {position: relative; margin-top: 30px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 353px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-container-layout-1 {padding-left: 13px; padding-right: 13px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-container-layout-2 {padding-left: 13px; padding-right: 10px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 788px}
.u-section-2 .u-container-layout-1 {padding-left: 6px; padding-right: 6px}
.u-section-2 .u-container-layout-2 {padding-left: 6px; padding-right: 5px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 366px}
.u-section-2 .u-layout-wrap-1 {margin-top: 30px; margin-bottom: 30px; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-2 {margin-top: 20px; margin-bottom: 0}
.u-section-2 .u-container-layout-2 {padding-right: 1px}
.u-section-2 .u-btn-1 {font-weight: 700; padding: 10px 13px} }.u-section-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/10787315_a4f8c3bca56449e68653b82292bab4ba_jpegddf0dd5a168242127155bdca1bb7f40a.jpg"); margin-top: 0; margin-bottom: 0}
.u-section-3 .u-sheet-1 {min-height: 686px}
.u-section-3 .u-layout-wrap-1 {margin: 191px auto 191px 0}
.u-section-3 .u-layout-cell-1 {min-height: 304px}
.u-section-3 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-text-1 {margin-left: 0; margin-right: 0; margin-bottom: 0}
.u-section-3 .u-text-2 {margin-left: 0; margin-right: 0; margin-bottom: 0}
.u-section-3 .u-text-3 {margin: 20px 0 0}
.u-section-3 .u-layout-cell-2 {min-height: 304px}
.u-section-3 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-text-4 {margin: 20px 0 0}
.u-section-3 .u-text-5 {margin: 54px 0 0} 

@media (max-width: 1199px){ .u-section-3 {background-position: 50% 2.83063vh}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-text-1 {position: relative}
.u-section-3 .u-text-2 {position: relative}
.u-section-3 .u-text-3 {position: relative}
.u-section-3 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-text-5 {position: relative} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 615px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-container-layout-1 {padding-left: 13px; padding-right: 13px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-container-layout-2 {padding-left: 13px; padding-right: 13px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 1082px}
.u-section-3 .u-container-layout-1 {padding-left: 9px; padding-right: 9px}
.u-section-3 .u-container-layout-2 {padding-left: 9px; padding-right: 9px} }

@media (max-width: 575px){ .u-section-3 {background-position: 50% 50%}
.u-section-3 .u-sheet-1 {min-height: 556px}
.u-section-3 .u-layout-wrap-1 {margin-top: 15px; margin-bottom: 45px; margin-right: initial; margin-left: initial}
.u-section-3 .u-container-layout-1 {padding-left: 6px; padding-right: 6px}
.u-section-3 .u-text-1 {font-weight: 700}
.u-section-3 .u-container-layout-2 {padding-left: 6px; padding-right: 6px} }.u-section-4 {background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/a475caee1248cd8d8382fc217b85f1d54a151669.jpg"); background-position: 50% 50%; margin-top: 0; margin-bottom: 0}
.u-section-4 .u-sheet-1 {min-height: 746px}
.u-section-4 .u-layout-wrap-1 {margin: 36px auto 36px 0}
.u-section-4 .u-image-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/2591872584640.jpg"); min-height: 385px; background-position: 50% 50%}
.u-section-4 .u-layout-cell-2 {background-image: none; min-height: 385px}
.u-section-4 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-4 .u-text-1 {margin: 305px 0 0}
.u-section-4 .u-layout-cell-3 {background-image: none; min-height: 385px}
.u-section-4 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-4 .u-text-2 {margin-left: 0; margin-right: 0; margin-bottom: 0}
.u-section-4 .u-layout-cell-4 {background-image: none; min-height: 368px}
.u-section-4 .u-container-layout-4 {padding-left: 20px; padding-right: 20px}
.u-section-4 .u-text-3 {margin-left: 0; margin-right: 0; margin-bottom: 0}
.u-section-4 .u-text-4 {margin-left: 0; margin-right: 0}
.u-section-4 .u-layout-cell-5 {background-image: none; min-height: 368px}
.u-section-4 .u-container-layout-5 {padding-left: 20px; padding-right: 20px}
.u-section-4 .u-image-2 {min-height: 368px; background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/2591866984896.jpg"); background-position: 50% 50%} 

@media (max-width: 1199px){ .u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-4 .u-text-1 {position: relative}
.u-section-4 .u-container-layout-3 {padding-left: 16px; padding-right: 16px}
.u-section-4 .u-text-2 {position: relative}
.u-section-4 .u-container-layout-4 {padding-left: 16px; padding-right: 16px}
.u-section-4 .u-text-3 {position: relative}
.u-section-4 .u-text-4 {position: relative}
.u-section-4 .u-container-layout-5 {padding-left: 16px; padding-right: 16px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 308px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-container-layout-2 {padding-left: 13px; padding-right: 13px}
.u-section-4 .u-layout-cell-3 {min-height: 100px}
.u-section-4 .u-container-layout-3 {padding-left: 13px; padding-right: 13px}
.u-section-4 .u-layout-cell-4 {min-height: 100px}
.u-section-4 .u-container-layout-4 {padding-left: 13px; padding-right: 13px}
.u-section-4 .u-layout-cell-5 {min-height: 100px}
.u-section-4 .u-container-layout-5 {padding-left: 13px; padding-right: 13px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 408px}
.u-section-4 .u-container-layout-2 {padding-left: 6px; padding-right: 6px}
.u-section-4 .u-container-layout-3 {padding-left: 6px; padding-right: 6px}
.u-section-4 .u-container-layout-4 {padding-left: 6px; padding-right: 6px}
.u-section-4 .u-container-layout-5 {padding-left: 6px; padding-right: 6px} }

@media (max-width: 575px){ .u-section-4 .u-text-1 {margin-top: 20px}
.u-section-4 .u-layout-cell-3 {min-height: 63px}
.u-section-4 .u-text-2 {margin-top: -10px}
.u-section-4 .u-layout-cell-5 {min-height: 15px} }.u-section-5 {margin-top: 0; margin-bottom: 0}
.u-section-5 .u-sheet-1 {min-height: 50vw}
.u-section-5 .u-text-1 {width: 640px; margin: 60px auto 0}
.u-section-5 .u-line-1 {width: 100px; transform-origin: left center; height: 3px; margin: 30px auto 0}
.u-section-5 .u-layout-wrap-1 {width: 1140px; margin: 25px 0 0}
.u-section-5 .u-layout-cell-1 {min-height: 455px}
.u-section-5 .u-container-layout-1 {padding: 30px}
.u-section-5 .u-image-1 {height: 340px; margin: 0 auto}
.u-section-5 .u-text-2 {margin: 13px 20px 0}
.u-section-5 .u-layout-cell-2 {min-height: 455px; background-position: 0% 0%}
.u-section-5 .u-container-layout-2 {padding: 30px}
.u-section-5 .u-image-2 {height: 340px; margin: 0 auto}
.u-section-5 .u-text-3 {margin: 13px 20px 0}
.u-section-5 .u-layout-cell-3 {min-height: 455px; background-position: 0% 0%}
.u-section-5 .u-container-layout-3 {padding: 30px}
.u-section-5 .u-image-3 {height: 340px; margin: 0 auto}
.u-section-5 .u-text-4 {margin: 13px 20px 0} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 41px}
.u-section-5 .u-layout-wrap-1 {width: 940px}
.u-section-5 .u-layout-cell-1 {min-height: 375px}
.u-section-5 .u-image-1 {height: 269px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-2 {margin-top: 30px; margin-left: auto; margin-right: auto}
.u-section-5 .u-layout-cell-2 {min-height: 375px}
.u-section-5 .u-image-2 {height: 269px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-3 {margin-top: 30px; margin-left: auto; margin-right: auto}
.u-section-5 .u-layout-cell-3 {min-height: 375px}
.u-section-5 .u-image-3 {height: 269px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-4 {margin-top: 30px; margin-left: auto; margin-right: auto} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 31px}
.u-section-5 .u-layout-wrap-1 {width: 720px}
.u-section-5 .u-layout-cell-1 {min-height: 100px}
.u-section-5 .u-image-1 {height: 191px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-image-2 {height: 191px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-3 {min-height: 100px}
.u-section-5 .u-image-3 {height: 191px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 123px}
.u-section-5 .u-text-1 {width: 540px}
.u-section-5 .u-layout-wrap-1 {width: 540px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-1 {height: 552px; margin-right: initial; margin-left: initial}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-2 {height: 552px; margin-right: initial; margin-left: initial}
.u-section-5 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-3 {height: 552px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-5 .u-text-1 {margin-left: 0; margin-right: 0; width: 340px; animation-duration: 1000ms}
.u-section-5 .u-line-1 {transform-origin: left center 0; margin-left: 120px}
.u-section-5 .u-layout-wrap-1 {width: 340px; margin-bottom: 60px}
.u-section-5 .u-layout-cell-1 {min-height: 475px}
.u-section-5 .u-image-1 {height: 340px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-2 {margin: 18px -10px -12px}
.u-section-5 .u-layout-cell-2 {min-height: 569px}
.u-section-5 .u-image-2 {height: 340px; width: 320px; margin-left: 0; margin-right: 0}
.u-section-5 .u-text-3 {margin-top: 15px; margin-left: -10px; margin-right: -10px}
.u-section-5 .u-layout-cell-3 {min-height: 532px}
.u-section-5 .u-image-3 {height: 340px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-4 {margin-left: -10px; margin-right: -10px} }.u-section-6 {margin-top: 0; margin-bottom: 0}
.u-section-6 .u-sheet-1 {min-height: 50vw}
.u-section-6 .u-layout-wrap-1 {width: 1140px; margin: 25px 0 0}
.u-section-6 .u-layout-cell-1 {min-height: 455px}
.u-section-6 .u-container-layout-1 {padding: 30px}
.u-section-6 .u-image-1 {height: 340px; margin: 0 auto}
.u-section-6 .u-text-1 {margin: 13px 20px 0}
.u-section-6 .u-layout-cell-2 {min-height: 455px; background-position: 0% 0%}
.u-section-6 .u-container-layout-2 {padding: 30px}
.u-section-6 .u-image-2 {height: 340px; margin: 0 auto}
.u-section-6 .u-text-2 {margin: 13px 20px 0}
.u-section-6 .u-layout-cell-3 {min-height: 455px; background-position: 0% 0%}
.u-section-6 .u-container-layout-3 {padding: 30px}
.u-section-6 .u-image-3 {height: 340px; margin: 0 auto}
.u-section-6 .u-text-3 {margin: 13px 20px 0} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 41px}
.u-section-6 .u-layout-wrap-1 {width: 940px}
.u-section-6 .u-layout-cell-1 {min-height: 375px}
.u-section-6 .u-image-1 {height: 269px; margin-right: initial; margin-left: initial}
.u-section-6 .u-text-1 {margin-top: 30px; margin-left: auto; margin-right: auto}
.u-section-6 .u-layout-cell-2 {min-height: 375px}
.u-section-6 .u-image-2 {height: 269px; margin-right: initial; margin-left: initial}
.u-section-6 .u-text-2 {margin-top: 30px; margin-left: auto; margin-right: auto}
.u-section-6 .u-layout-cell-3 {min-height: 375px}
.u-section-6 .u-image-3 {height: 269px; margin-right: initial; margin-left: initial}
.u-section-6 .u-text-3 {margin-top: 30px; margin-left: auto; margin-right: auto} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 31px}
.u-section-6 .u-layout-wrap-1 {width: 720px}
.u-section-6 .u-layout-cell-1 {min-height: 100px}
.u-section-6 .u-image-1 {height: 191px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-2 {min-height: 100px}
.u-section-6 .u-image-2 {height: 191px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-3 {min-height: 100px}
.u-section-6 .u-image-3 {height: 191px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 123px}
.u-section-6 .u-layout-wrap-1 {width: 540px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-1 {height: 552px; margin-right: initial; margin-left: initial}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-2 {height: 552px; margin-right: initial; margin-left: initial}
.u-section-6 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-3 {height: 552px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-6 .u-layout-wrap-1 {width: 340px; margin-top: 24px; margin-bottom: 60px}
.u-section-6 .u-layout-cell-1 {min-height: 530px}
.u-section-6 .u-image-1 {height: 340px; margin-right: initial; margin-left: initial}
.u-section-6 .u-text-1 {margin-left: -10px; margin-right: -10px}
.u-section-6 .u-layout-cell-2 {min-height: 514px}
.u-section-6 .u-image-2 {height: 340px; margin-top: 40px; width: 320px; margin-left: 0; margin-right: 0}
.u-section-6 .u-text-2 {margin-top: 27px; margin-left: -9px; margin-right: -9px}
.u-section-6 .u-layout-cell-3 {min-height: 529px}
.u-section-6 .u-image-3 {height: 340px; margin-right: initial; margin-left: initial}
.u-section-6 .u-text-3 {margin-top: 27px; margin-left: -10px; margin-right: -10px} }.u-section-7 {margin-top: 0; margin-bottom: 0}
.u-section-7 .u-sheet-1 {min-height: 50vw}
.u-section-7 .u-layout-wrap-1 {width: 1140px; margin: 25px 0 0}
.u-section-7 .u-layout-cell-1 {min-height: 455px}
.u-section-7 .u-container-layout-1 {padding: 30px}
.u-section-7 .u-image-1 {height: 340px; margin: 0 auto}
.u-section-7 .u-text-1 {margin: 13px 20px 0}
.u-section-7 .u-layout-cell-2 {min-height: 455px; background-position: 0% 0%}
.u-section-7 .u-container-layout-2 {padding: 30px}
.u-section-7 .u-image-2 {height: 340px; margin: 0 auto}
.u-section-7 .u-text-2 {margin: 13px 20px 0}
.u-section-7 .u-layout-cell-3 {min-height: 455px; background-position: 0% 0%}
.u-section-7 .u-container-layout-3 {padding: 30px}
.u-section-7 .u-image-3 {height: 340px; margin: 0 auto}
.u-section-7 .u-text-3 {margin: 13px 20px 0}
.u-section-7 .u-btn-1 {text-transform: uppercase; font-weight: 700; font-size: 0.875rem; margin: 30px auto 60px} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 41px}
.u-section-7 .u-layout-wrap-1 {width: 940px}
.u-section-7 .u-layout-cell-1 {min-height: 375px}
.u-section-7 .u-image-1 {height: 269px; margin-right: initial; margin-left: initial}
.u-section-7 .u-text-1 {margin-top: 30px; margin-left: auto; margin-right: auto}
.u-section-7 .u-layout-cell-2 {min-height: 375px}
.u-section-7 .u-image-2 {height: 269px; margin-right: initial; margin-left: initial}
.u-section-7 .u-text-2 {margin-top: 30px; margin-left: auto; margin-right: auto}
.u-section-7 .u-layout-cell-3 {min-height: 375px}
.u-section-7 .u-image-3 {height: 269px; margin-right: initial; margin-left: initial}
.u-section-7 .u-text-3 {margin-top: 30px; margin-left: auto; margin-right: auto} }

@media (max-width: 991px){ .u-section-7 .u-sheet-1 {min-height: 31px}
.u-section-7 .u-layout-wrap-1 {width: 720px}
.u-section-7 .u-layout-cell-1 {min-height: 100px}
.u-section-7 .u-image-1 {height: 191px; margin-right: initial; margin-left: initial}
.u-section-7 .u-layout-cell-2 {min-height: 100px}
.u-section-7 .u-image-2 {height: 191px; margin-right: initial; margin-left: initial}
.u-section-7 .u-layout-cell-3 {min-height: 100px}
.u-section-7 .u-image-3 {height: 191px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 123px}
.u-section-7 .u-layout-wrap-1 {width: 540px}
.u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-image-1 {height: 552px; margin-right: initial; margin-left: initial}
.u-section-7 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-image-2 {height: 552px; margin-right: initial; margin-left: initial}
.u-section-7 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-image-3 {height: 552px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-7 .u-layout-wrap-1 {width: 340px; margin-top: 24px}
.u-section-7 .u-layout-cell-1 {min-height: 530px}
.u-section-7 .u-image-1 {height: 340px; margin-right: initial; margin-left: initial}
.u-section-7 .u-text-1 {margin-left: -10px; margin-right: -10px}
.u-section-7 .u-layout-cell-2 {min-height: 514px}
.u-section-7 .u-image-2 {height: 340px; margin-top: 40px; width: 320px; margin-left: 0; margin-right: 0}
.u-section-7 .u-text-2 {margin-top: 27px; margin-left: -9px; margin-right: -9px}
.u-section-7 .u-layout-cell-3 {min-height: 529px}
.u-section-7 .u-image-3 {height: 340px; margin-right: initial; margin-left: initial}
.u-section-7 .u-text-3 {margin-top: 27px; margin-left: -10px; margin-right: -10px}
.u-section-7 .u-btn-1 {font-size: 1.125rem} }